{
  "log": {
    "type": "both",          # file or console or both
    "maxFileSize": 20000000,
    "maxBackupIndex": 5,
    "frontend": {
      "level": "debug"          # debug or info or warn or error
    }
  },
  "monitor": {
    "enable": true,
    "interval": 1
  },
  "fullScreen": {
    "enable" : false
  },
  "carRepairInfo": {
    "display": {
      "interval": 4000        # in milliseconds
    }
  }
}
