{
  "log": {
    "type": "both",          # file or console or both
    "maxFileSize": 20000000,
    "maxBackupIndex": 5,
    "frontend": {
      "level": "debug"          # debug or info or warn or error
    }
  },
  "monitor": {
    "enable": true,
    "interval": 1
  },
  "resolution": "720p",       # 480p or 720p or 1080p
  "fps": 30,                  # 5, 15, 30, 45
  "jpegDecoder": {
     "type": "sw"             # sw or hw
  },
  "fullScreen": {
    "enable" : false
  }
}
