{
  "log": {
    "type": "both",          # file or console or both
    "maxFileSize": 20000000,
    "maxBackupIndex": 5,
    "frontend": {
      "level": "debug"          # debug or info or warn or error
    },
    "photo-box": {
      "level": "debug"
    },
    "gstreamer": {
      "level": "debug",
      "threshold": "GST_INIT:4,GST_REGISTRY:4,GST_CAPS:5,GST_NEGOTIATION:5,GST_PADS:4,GST_ELEMENT_PADS:4,GST_STATES:4,basesrc:5,appsrc:5,*:3"
    }
  },
  "monitor": {
    "enable": true,
    "interval": 1
  },
  "resolution": "720p",       # 480p or 720p or 1080p
  "fps": 30,                  # 5, 15, 30, 45
  "jpegDecoder": {
     "type": "sw"             # sw or hw
  },
  "effect": {
    "interval": 5,           # sec - 효과 전환 간격
    "cycling": true,          # 효과 순환 활성화 여부
    # "effects": ["radioac", "mirror", "warp", "solarize"]  
    # "effects": ["radioac", "mirror", "warp", "solarize"]
    "effects": ["none", "radioac", "mirror", "streak", "warp", "solarize", "square"]
  },
  "fullScreen": {
    "enable" : false
  }
}
